<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Register conversion words -->
	<conversionRule conversionWord="d" converterClass="ch.qos.logback.classic.pattern.DateConverter" />
	<conversionRule conversionWord="relative" converterClass="ch.qos.logback.classic.pattern.RelativeTimeConverter" />
	<conversionRule conversionWord="thread" converterClass="ch.qos.logback.classic.pattern.ThreadConverter" />
	<conversionRule conversionWord="level" converterClass="ch.qos.logback.classic.pattern.LevelConverter" />
	<conversionRule conversionWord="logger" converterClass="ch.qos.logback.classic.pattern.LoggerConverter" />
	<conversionRule conversionWord="msg" converterClass="ch.qos.logback.classic.pattern.MessageConverter" />
	<conversionRule conversionWord="n" converterClass="ch.qos.logback.classic.pattern.LineSeparatorConverter" />
	<conversionRule conversionWord="mdc" converterClass="ch.qos.logback.classic.pattern.MDCConverter" />

	<!-- Include defaults.xml -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<!-- Console Appender -->
	<appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>US/Eastern</timeZone>
				</timestamp>
				<version />
				<logLevel />
				<message />
				<loggerName />
				<threadName />
				<context />
				<pattern>
					<omitEmptyFields>true</omitEmptyFields>
					<pattern>
						{
						"trace": {
						"trace_id": "%mdc{X-B3-TraceId}",
						"span_id": "%mdc{X-B3-SpanId}",
						"parent_span_id": "%mdc{X-B3-ParentSpanId}",
						"exportable": "%mdc{X-Span-Export}"
						}
						}
					</pattern>
				</pattern>
				<mdc>
					<excludeMdcKeyName>traceId</excludeMdcKeyName>
					<excludeMdcKeyName>spanId</excludeMdcKeyName>
					<excludeMdcKeyName>parentId</excludeMdcKeyName>
					<excludeMdcKeyName>spanExportable</excludeMdcKeyName>
					<excludeMdcKeyName>X-B3-TraceId</excludeMdcKeyName>
					<excludeMdcKeyName>X-B3-SpanId</excludeMdcKeyName>
					<excludeMdcKeyName>X-B3-ParentSpanId</excludeMdcKeyName>
					<excludeMdcKeyName>X-Span-Export</excludeMdcKeyName>
				</mdc>
				<stackHash>
					<fieldName>exception-hash</fieldName>
				</stackHash>
				<provider class="org.recap.CustomStackTraceJsonProvider">
					<fieldName>stack_trace</fieldName>
				</provider>
			</providers>
		</encoder>
	</appender>

	<!-- File Appender -->
	<appender name="FILE_ROLLER_DATE_SIZE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/recap-vol/logs/scsb-ui/scsb-ui.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/recap-vol/logs/scsb-ui/scsb-ui.log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<charset>UTF-8</charset>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>
					%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg %mdc%n
				</Pattern>
			</layout>
		</encoder>
	</appender>

	<!-- Root Logger -->
	<root level="INFO">
		<appender-ref ref="jsonConsoleAppender" />
		<appender-ref ref="FILE_ROLLER_DATE_SIZE" />
	</root>

</configuration>